/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

html, body {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

/* Navbar */
nav {
    display: block;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 0.25em 0.25em lightgrey;
}

    nav > a {
        display: inline-block;
        margin: 0 1em;
        vertical-align: middle;
        border: none;
        text-decoration: none;
    }

        nav > a img {
            width: 18em;
        }

    nav ul {
        display: inline-block;
        padding: 0;
    }

        nav ul li {
            font-size: 1.25em;
            display: inline-block;
            margin: 0.625em;
            vertical-align: middle;
        }

            nav ul li a {
                text-decoration: none;
                color: lightgreen;
                font-weight: 700;
            }

                nav ul li a:visited {
                    text-decoration: none;
                }

                nav ul li a:hover {
                    color: lightgreen;
                }

                nav ul li a:active {
                    text-decoration: none;
                    color: lightgreen;
                    font-style: normal;
                }
/* End Navbar */

/* Content styles */
h1, h2 {
    text-align: center;
    margin: auto;
}

h3 {
    margin: auto;
}

ul {
    margin: 0;
}

#body-content {
    padding: 0;
    margin: 2em auto;
    max-width: 70em;
}

    #body-content a {
        color: lightgreen;
    }

.form-container {
    display: grid;
    grid-template-columns: 1fr 18em;
}

form {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    margin: 0.25em;
    height: auto;
    overflow: auto;
}

    form h2 {
        margin: 0;
    }

    form input#search {
        width: 100%;
        box-sizing: border-box;
    }

.form-group {
    display: block;
    margin: 0 0 0.5em 0;
    width: 100%;
}

    .form-group > label {
        display: block;
    }

.menu-container div:last-child {
    border-bottom: none;
}

.menu-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 0.1em solid black;
}

.menu-item {
    display: inline-block;
    vertical-align: top;
    margin: 1em auto;
    flex-basis: 30%;
}

.menu-item p {
    margin: 0.5em 0 0 0;
}

.menu-description {
    margin: auto;
    text-align: center;
}
/* End Content styles */

/* Footer */
footer {
    clear: both;
    background-color: lightgreen;
    font-size: 0.75em;
    padding: 0.5em 1em;
    margin: 0 0 0 0;
    display: flex;
}

    footer p {
        padding: 0.25em 1em;
        margin: auto;
        color: black;
        max-width: 70em;
        text-align: right;
    }

        footer p.small {
            font-size: 0.5em;
        }
/* End Footer */

/* Rules for mobile-friendly operation */
@media screen and (max-width: 72em) {
    #body-content {
        margin: 2em 3%;
    }
}

@media screen and (max-width: 65em) {
    .menu-item {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 52em) {
    .menu-item {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 45em) {
    #body-content {
        margin: 2em 5%;
    }
}

@media screen and (max-width: 38em) {
    .form-container {
        display: block;
    }
}

@media screen and (max-width: 21em) {
    nav > a img {
        width: 100%;
    }
}