<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            A class representing a combo meal.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            Gets and sets the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Gets and sets the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            Gets and sets the side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Toy">
            <summary>
            Gets the toy
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Gets a list of ingredients for the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Gets the price of the combo.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Get the calories of the combo.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>       
            Gets or sets the size of the combo        
            </summary>        
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Special">
            <summary>
            Any special requirements for this order. Collects the specials when called instead of 
            when things are changed because the combo has multiple parts, which are hard to keep 
            track of simultaniously.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Constructs a new combo with the specified entree.
            </summary>
            <param name="entree">The entree to use.</param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            The base drink class. Extends MenuItem, so inherits Price, Calories, and Ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            Gets or sets the size of this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            Gets or sets whether there is ice in this drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            Allows the user to hold the ice in this drink.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.JurassicJava">
            <summary>
            A drink class that represents a cup of coffee.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Size">
            <summary>
            An enum variable which stores the size of this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Ingredients">
            <summary>
            A list of ingredients for this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Ice">
            <summary>
            An overridden ice variable which defaults to false.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.RoomForCream">
            <summary>
            Whether the server should leave room for cream in this coffee. 
            Sadly, does not decrease the price. Defaults to false.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Decaf">
            <summary>
            Whether this coffee is decalf. Defaults to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.#ctor">
            <summary>
            The constructor for the JurassicJava drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.AddIce">
            <summary>
            Allows the user to add ice to this drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.LeaveRoomForCream">
            <summary>
            Directs the server to leave room for cream.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.MakeDecaf">
            <summary>
            Makes this coffee decalf.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            A drink class that represents a cup of various types of soda.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            An enum variable which stores the size of this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            A list of ingredients for this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            The flavor or flavors of this soda. Use the bitwise OR operator to set multiple flavors.
            Defaults to the generic cola flavor only.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            The constructor for the Sodasaurus drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            An enum which expresses which flavor the soda is. Can be used as bit flags.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cola">
            <summary>
            Generic Cola flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Orange">
            <summary>
            Orange flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Vanilla">
            <summary>
            Vanilla flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Chocolate">
            <summary>
            Chocolate flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.RootBeer">
            <summary>
            Root Beer soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cherry">
            <summary>
            Cherry flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Lime">
            <summary>
            Lime flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Grape">
            <summary>
            Grape flavor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            A drink class that represents a cup of tea.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            An enum variable which stores the size of this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            A list of ingredients for this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            Whether or not this tea has lemon. Defaults to false.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            Whether or not this tea is sweet. Defaults to false, although in other parts of the country 
            it would likely be better to default to true.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            The constructor for the Tyrannotea drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            Allows the user to add lemon to the tea.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.MakeSweet">
            <summary>
            Allows the user to make the tea sweet.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            A drink class that represents a cup of water.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            An enum variable which stores the size of this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            A list of ingredients for this drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            Whether or not this water has lemon. Defaults to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            The constructor for the Water drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            Allows the user to add lemon to the water.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            A class that represents a Brontowurst entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.bun">
            <summary>
            Whether or not the bun is included in the brontowurst.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.peppers">
            <summary>
            Whether or not the peppers are included in the brontowurst.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.onion">
            <summary>
            Whether or not the onions are included in the brontowurst.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            The list of ingredients for the brontowurst.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            The constructor for the brontowurst. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            Allows the user to remove the bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            Allows the user to remove the peppers from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            Allows the user to remove the onions from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            A class that represents an entree of Dino Nuggets.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            The list of ingredients for the dino nuggets.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            The constructor for this entree. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            Function that allows the user to add a nugget for an additional cost.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            The base class for all entrees.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            An entree class for the Prehistoric PB and J.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            The list of ingrediants for this PB and J.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            The constructor for this entree. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Allows the user to remove the peanut butter from this PB and J.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            Allows the user to remove the jelly from this PB and J.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            A class that represents an entree of Pterodactyl Wings.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            The list of ingredients for this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            The constructor for this entree. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            A class that represents a Steakosaurus Burger entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.bun">
            <summary>
            Whether or not the bun is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.pickle">
            <summary>
            Whether or not the pickle is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.ketchup">
            <summary>
            Whether or not the ketchup is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.mustard">
            <summary>
            Whether or not the mustard is included in this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            The list of ingredients for this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            The constructor for this entree. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            Allows the user to remove the bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            Allows the user to remove the pickle from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            Allows the user to remove the ketchup from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            Allows the user to remove the mustard from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            A class that represents a T-Rex King Burger entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.bun">
            <summary>
            Whether or not the bun is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.lettuce">
            <summary>
            Whether or not the lettuce is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.tomato">
            <summary>
            Whether or not the tomato is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.onion">
            <summary>
            Whether or not the onion is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.pickle">
            <summary>
            Whether or not the pickle is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.ketchup">
            <summary>
            Whether or not the ketchup is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.mustard">
            <summary>
            Whether or not the mustard is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.mayo">
            <summary>
            Whether or not the mayo is included in this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            The list of ingredients for this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            The constructor for this entree. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            Allows the user to remove the bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            Allows the user to remove the lettuce from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            Allows the user to remove the tomato from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            Allows the user to remove the onion from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            Allows the user to remove the pickle from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            Allows the user to remove the ketchup from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            Allows the user to remove the mustard from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            Allows the user to remove the mayo from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            A class that represents a VelociWrap entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.dressing">
            <summary>
            Whether or not the dressing is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.lettuce">
            <summary>
            Whether or not the lettuce is included in this entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.cheese">
            <summary>
            Whether or not the cheese is included in this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            The list of ingredients for this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            The constructor for this entree. Sets the price and the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            Allows the user to remove the bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            Allows the user to remove the peppers from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            Allows the user to remove the onions from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            An interface that all menu items need to implement through the MenuItem base class.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            The price of this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            The number of calories in this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            The list of ingredients for this menu item.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            An interface that all items that can be ordered need to implement through the MenuItem base class.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            The price of this order item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            The description of this order item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            Any special requirements for this order.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            A class which represents the entire menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            Generates and returns a list of all available menu items.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            Generates and returns a list of all available entrees on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            Generates and returns a list of all available sides on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            Generates and returns a list of all available drinks on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableCombos">
            <summary>
            Generates and returns a list of all available combos on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.PossibleIngredients">
            <summary>
            Creates and returns a list of all ingredients of all menu items without duplicates.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.Search``1(System.Collections.Generic.List{``0},System.String)">
            <summary>
            Searches the description of the menu item for the specified search term.
            </summary>
            <typeparam name="T">Any derived class of MenuItem.</typeparam>
            <param name="menuItems">A list of menu items.</param>
            <param name="searchTerm">The search term.</param>
            <returns>A new list of the same type of items which satisfies the condition.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.FilterByMinimumPrice``1(System.Collections.Generic.List{``0},System.Single)">
            <summary>
            Filters the provided list of menu items by their minimum price.
            </summary>
            <typeparam name="T">Any derived class of MenuItem.</typeparam>
            <param name="menuItems">A list of menu items.</param>
            <param name="min">The minimum price to filter by.</param>
            <returns>A new list of the same type of items which satisfies the condition.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.FilterByMaximumPrice``1(System.Collections.Generic.List{``0},System.Single)">
            <summary>
            Filters the provided list of menu items by their maximum price.
            </summary>
            <typeparam name="T">Any derived class of MenuItem.</typeparam>
            <param name="menuItems">A list of menu items.</param>
            <param name="max">The maximum price to filter by.</param>
            <returns>A new list of the same type of items which satisfies the condition.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.FilterByExcludedIngredients``1(System.Collections.Generic.List{``0},System.Collections.Generic.List{System.String})">
            <summary>
            Filters the provided list of menu items to exclude menu items which contain ingredients in 
            the provided list.
            </summary>
            <typeparam name="T">Any derived class of MenuItem.</typeparam>
            <param name="menuItems">A list of menu items.</param>
            <param name="excludedIngredients">A list of the ingredients to exclude.</param>
            <returns>A new list of the same type of items which satisfies the condition.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            Returns the entire contents of the menu separated by new line characters.
            </summary>
            <returns>A list of all menu contents separated by new line characters.</returns>
        </member>
        <member name="T:DinoDiner.Menu.MenuItem">
            <summary>
            The base class for all menu items. Provides Price, Calories, and an abstract list of ingredients.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.MenuItem.special">
            <summary>
            Powers the ability to add special requirements to the order.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.MenuItem.PropertyChanged">
            <summary>
            The PropertyChangedEventHandler for NotifyOfPropertyChanged.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Price">
            <summary>
            The price of this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Calories">
            <summary>
            The number of calories in this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Ingredients">
            <summary>
            The list of ingredients for this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Description">
            <summary>
            The description for this menu item. Relies on all derived classes overriding the ToString method 
            in their class.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Special">
            <summary>
            Any special requirements for this order. Typically collects special information as things are changed.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MenuItem.NotifyOfPropertyChanged(System.String)">
            <summary>
            Call to notify other listeners that a property described by the property name has changed.
            </summary>
            <param name="propertyName">The name of the property that has changed.</param>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            A class that represents a customer order.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Order.PropertyChanged">
            <summary>
            The PropertyChangedEventHandler for NotifyOfPropertyChanged.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            Stores all the items that the customer has currently added to the order as an ObservableCollection.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SubtotalCost">
            <summary>
            Calculates a subtotal for the order by adding the cost of all items. The subtotal is never allowed 
            to be zero.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            Gets or sets the sales tax rate for Dino Diner.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            Calculates the cost of the sales tax on the order by multiplying the subtotal cost and the 
            sales tax rate.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            Calculates the total cost of the order by adding the subtotal cost and the sales tax cost.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.#ctor">
            <summary>
            Default no-argument contstructor for the Order object.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.NotifyOfPropertyChanged(System.String)">
            <summary>
            Call to notify other listeners that a property described by the property name has changed.
            </summary>
            <param name="propertyName">The name of the property that has changed.</param>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            A class which represents a side of Fryceritops.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            A variable storing the size of the entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Ingredients">
            <summary>
            The list of ingrediants for the Fryceritops.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            The constructor for the Fryceritops side. Sets the calories and price to the values for the small side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            A class which represents a side of Triceritots.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            A variable storing the size of the entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            The list of ingrediants for the Triceritots.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            The constructor for the Triceritots side. Sets the calories and price to the values for the small side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            A class which represents a side of Triceritots.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            A variable storing the size of the entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            The list of ingrediants for the Triceritots.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            The constructor for the Triceritots side. Sets the calories and price to the values for the small side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            The abstract base class for all sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size of this side.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            A class which represents a side of Triceritots.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            A variable storing the size of the entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            The list of ingrediants for the Triceritots.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            The constructor for the Triceritots side. Sets the calories and price to the values for the small side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            Creates and returns a string representation of this object.
            </summary>
            <returns>A string representation of this object.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            An enum with three drink and size sizes: small, medium, and large.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            The small size.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            The medium size.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            The large size.
            </summary>
        </member>
    </members>
</doc>
